@font-face {
    font-family: 'MyFont';
    src: url('Assets//Roboto-Regular.woff2') format(woff2);
}
/*
Colors:

 #85c1e9 lightblue-like

variables:
    bgcolor for body only
    font for text
    element for individual elements

*/
:root{
    --bg-color: #323645;
    --font-color: #8338ec;
    --element-bg-color: #BEE5A9;
    --link-color: #940000;
}
h1{
    background-color:  var(--element-bg-color);
    margin: 1% auto;
    padding: 1%;
    width: max-content;
    text-align: center;
    border-radius: 8px;
}
nav{
    background-color:  var(--element-bg-color);
    font-size: 100%;
    display: flex;
    text-align: center;
    width: 50%;
    margin: 1% auto;
    padding: 1%;
    border-radius: 8px;
}
nav a{
    text-decoration: none;
    color: var(--font-color);
    font-size: x-large;
    padding: 1%;
}
a{
    font-weight: bold;
    text-decoration: underline;
    color: var(--font-color);
    height: 100%;
    width: 100%;
}
a:link{
    color: var(--font-color);
}
a:hover{
    border-radius: 4px;
    background-color: rgb(46, 46, 153,0.2);
}
body{
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: 'MyFont';
    font-size: 1em;
}
img{
    border-radius: 50%;
    width: 100px;
}
tr{
    width: auto;
}
th{
    color: var(--main-theme);
    background-color: var(--element-bg-color);
    width: 40%;
    border-radius: 4px;
}
ul li{
    font-size: xx-large;
    padding-left: 20px;
    display: inline-block;
    vertical-align: middle;
}
#projhead{
    width: 20%;
}
#mytable{
    margin: 1% auto;
    width: 80%;
}
    #status{
        width: 10%;
}
#item{
    vertical-align: middle;
    background-color: var(--element-bg-color);
    margin: auto;
    padding: 1%;
    height: auto;
    line-height: auto;
    width: auto;
    border-radius: 4px;
}
#statusitem{
    text-align: center;
    background-color: var(--element-bg-color);
    margin: auto;
    padding: 2%;
    height: auto;
    line-height: auto;
    width: auto;
    border-radius: 4px;
}
#itemlink{
    overflow: auto;
    height: 100%;
    width: auto;
}
#description{
    background-color: var(--element-bg-color);
    padding: 2%;
    width: 60%;
    border-radius: 4px;
}
#aboutme{
    margin: auto 20%;
    line-height: 2;
    color: var(--font-color);
    background-color: var(--element-bg-color);
    border-radius: 4px;
    padding: 2%;
}
textarea{
    font-size: x-large;
    height: 30vh;
    width: 60%;
    margin: 0% 20%;
}
#mysubmitbtn{
    font-size: larger;
    border-radius: 4px; 
    padding: .1% .1%;
    display: block;
    margin: 0.3% auto;
    width: 10%;
    height: 50px;
}
#projectname{
    vertical-align: middle;
    display: inline;
}
#contacttable{
    font-size: 200%;
    text-align: center;
    border-radius: 3px;
    background-color: var(--element-bg-color);
    width: 40%;
    margin: 2% 30%;
}
#contacttable ul li{
    display: inline;
}
#contactitem{
    padding: 2% 8%;
    width: auto;
    border-radius: 4px;
}
#contactimg{
    width: 90%;
    border-radius: 0%;
}
#copynumbtn{
    width: 5%;
    border: 0px;
    background-color: var(--element-bg-color);
}
#copynumbtn:hover{
    opacity: 0.4;
}
#copymailbtn{
    width: 5%;
    border: 0px;
    background-color: var(--element-bg-color);
}
#copymailbtn:hover{
    opacity: 0.4;
}
#themebtn{
    width: 2%;
    position: fixed;
    top: 20px;
    left: 10px;
    border: 0px;
    background-color: var(--bg-color);
}
#themebtn img{
    padding: 22%;
    background-color: var(--element-bg-color);
    opacity: 0.8;
}
#snackbar {
    visibility: hidden;
    color: #fff;
    background-color: #333;
    min-width: 250px;
    margin-left: -125px;
    border-radius: 2px;
    padding: 16px;
    text-align: center;
    left: 50%;
    bottom: 30px;
    z-index: 1;
    position: fixed;
  }
  
  /* This will be activated when the snackbar's class is 'show' which will be added through JS */
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations for fading in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }