@font-face {
    font-family: 'MyFont';
    src: url('Assets//Roboto-Regular.woff2') format(woff2);
}
p{
    background-color: #d6eaf8;
}
h1{
    background-color:  #d6eaf8;
    color: black;
    margin: 1% auto;
    padding: 1%;
    width: max-content;
    text-align: center;
    border-radius: 8px;
}
nav{
    background-color:  #d6eaf8;
    font-size: 100%;
    display: flex;
    text-align: center;
    width: 50%;
    margin: 0% auto 1% auto;
    padding: 1%;
    border-radius: 8px;
}

a{
    height: auto;
    width: 100%;
    padding: .1%;
}

body{
    background-color: #85c1e9;
    font-family: 'MyFont';
}
img{
    border-radius: 4px;
    width: 40%;
}
#name{
    font-style: italic;
    padding-left: 12%;
    vertical-align:240%;
    display: inline;
    width: 100%;
}
#mytable{
    margin: 0% auto;
    width: 80%;
}
#th{
    width: 40%;
    background-color: #d6eaf8;
    border-radius: 4px;
    margin-bottom: 211%;
}
#item{
    padding: 2%;
    width: 40%;
    background-color: #d6eaf8;
    border-radius: 4px;
}
#description{
    font-size: 80%;
    padding: 2%;
    width: 60%;
    background-color: #d6eaf8;
    border-radius: 4px;
}
#aboutme{
    border-radius: 4px;
    padding: 2%;
}